html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Hello therajew!
        p Work In Progress app to filter out already scanned anomalies.
        p First textbox: copy paste bookmark selections
        p Second textbox: copy paste all anomalies
      div.wormholefilter
        form(name="wormholefilter", action="/wormholefilter", method="post")
          textarea(type="textarea", name="bookmarks")
          textarea(type="textarea", name="signatures")
          input(type="submit", value="submit")
      if wormholeFilterResult
        for result in wormholeFilterResult
          p= result
      else
        p bla bla
