html
  head
    title=title
    link(href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.0/flexboxgrid.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/less-space.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css', rel='stylesheet')
    link(href='/main.css', rel='stylesheet')
    link(href='/typeahead.css', rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76951311-1', 'auto');
      ga('send', 'pageview');

  body.layout.container
    div.page
      div.container
        header.jumbotron
          div.row.center-xs
            h1.hero-headline Thera Inspector
          div.row.center-xs
            p.hero-headline Inspects your holes so you don't have to
        div.container-fluid
          ul.nav.nav-tabs
            li(id='first-tab')
              a(class='navbar-brand' href='/') Wormhole Filter
            li(id='second-tab')
              a(href='/trade-hub-distance') Trade Hub Distance
      div.wrap.container-fluid
        block content
    footer.page-footer
      div.row
        div.col-xs.start-xs
          p 
            | Developed with love by&nbsp;
            a(href='http://rosudrag.github.io/', target='_blank') DRR
        div.col-xs-offset-6.col-xs.center-xs
          a(class='flex-center', href='https://github.com/rosudrag/EVE-Wormhole-Filterer', target='_blank') EVE-Wormhole-Filterer github repo
