body {
  display:flex;
  justify-content:center;
}

body > div > main {
  flex: 1;
  display: flex;
  min-height:400px;
}

body > div > footer{
  height:100px;
  order:5;
  flex:0 1 100%;
}

.mainBodyContainer{
  display:flex;
  flex-flow:row wrap;
}

main div #Changelog{
  background: #ccc;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
}

header, footer {
  align-self: center;
}

footer div{
  display: flex;
  flex-direction: column;
}


footer p,a{
  align-self: center;
}

.left-column{
  flex:0 1 200px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.right-column{
  flex: 4;
}

section {
  display: flex;

}

.column {
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}

.tableoverflowcontainer .bootstrap-table:first-child{
  padding-bottom: 5%;
}



.page {
    z-index: 0;
}

.hero {
    box-sizing: border-box;
    padding: 2rem;
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 2px
}

.hero-headline {
    font-size: 3rem;
    white-space: nowrap;
    margin-bottom: 0
}
