body {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  flex-direction: column;
  margin: 0% 5% 0% 5%;
}

main {
  flex: 1 0 auto;
  display: flex;
}

main div #Changelog{
  background: #ccc;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
}

header, footer {
  align-self: center;
}

footer div{
  display: flex;
  flex-direction: column;
}


footer p{
  align-self: center;
}

.left-column{
  flex: 1;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}


.right-column{
  flex: 4;
}

section {
  display: flex;

}

.column {
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}
