.page {
    flex:1 0 auto;
    z-index: 0;
}

.jumbotron{
  margin-bottom: 5px;
}

.hero {
    box-sizing: border-box;
    padding: 2rem;
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 2px;
}

.hero-headline {
    font-size: 3rem;
    white-space: nowrap;
    margin-bottom: 0;
}

.layout {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.wrap {
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
}

.container,.container-fluid {
    margin-right: auto;
    margin-left: auto
}

.container-fluid {
    padding-right: 2rem;
    padding-left: 2rem
}

.page-section {
    padding-top: 3rem;
    margin-bottom: 3rem
}

.page-footer {
    box-sizing: border-box;
    padding-bottom: 3rem;
    background-color: #ffffff
    flex:none;
}

.box-row {
    margin-bottom: 1rem
}

.table-container{
  margin-bottom: 10px;
}

.fixed-table-body{
  height: auto;
}
